@using OrganizatorENTİTY
@{
    People people=Session["People"] as People;
    ViewBag.Title = "Message_";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Message_</h2>


<body class="contact-page">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Elements</h2>
                        <ul class="breadcrumbs flex align-items-center">
                            <li><a href="#">Home</a></li>
                            <li>Contact</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    <div class="container">
        @using (Html.BeginForm("Message_", "Contact", FormMethod.Post))
        {
            <div class="main-content">

                <div class="contact-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                                <div class="contact-medium flex align-items-center">
                                  
                                <figure class="contact-icon">
                                        <img src="~/Content/images/mail.jpg" alt="phone icon">
                                    </figure>
                                    <div class="contact-content">
                                        <div class="entry-title">
                                            E-mail
                                        </div><!-- entry-title -->
                                        <div class="entry-content">
                                            @people.Email
                                        </div><!-- entry-content -->
                                    </div><!-- phone-number -->
                                </div><!-- contact-phone -->
                            </div>

                        </div><!-- row -->
                    </div>
                </div><!-- contact-details -->
                <div class="get-in-touch">
                    <div class="entry-header">
                        <div class="entry-title">
                            
                            <h2>İletişime Geç</h2>
                        </div><!-- entry-title -->
                    </div><!-- entry-header -->

                    <div class="contact-form">
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <input type="email" placeholder="email" name="email">
                            </div><!-- col-6 -->
                            <div class="col-12">

                            </div>
                            <div class="col-12">
                                <textarea name="detail" rows="8" cols="80" placeholder="message"></textarea>
                            </div>
                            <div class="col-12 submit flex justify-content-center">
                                <input type="submit" value="Messaj Yolla" class="btn">
                            </div>
                        </div><!-- row -->
                    </div><!-- contact-form -->
                </div><!-- newsletter-subscribe -->
            </div>}<!-- main-content -->
    </div><!-- container -->
    </body>